* {
  text-align: center;
  font-family: Helvetica, sans-serif;
}

body, html {
  padding: 0;
  margin: 0;
}

header {
  text-align: center;
}

nav {
  text-align: center;
  color: #22313f;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin: 0;
  background-color: #ececeb;
  width: 100%;
}

body {
  background: #8dc6ff;
}

h3 {
  padding: 1%;
}

p {
  font-family: 'Recursive', sans-serif;
  max-width: 600px;
}

figure {
  margin: auto;
  padding-bottom: 1em;
}

nav > a {
  text-decoration: none;
  color: gray;
}

h3, p {
  text-align: center;
  margin: auto;
}

.images-horizontal {
  width: 400px;
  margin: 0 0.5em;
}

.images-vertical {
  height: 400px;
  margin: 0 0.5em;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
}

.flex-item {
  padding: 0;
  margin: 0 10px 20px 10px;
}

.thin-flex {
  max-width: 800px;
}

.gallery-images {
  width: 400px;
}

.all-images {
  border-radius: 10px;
  border: solid 5px #34495e;
  box-sizing: border-box;
}

.gallery-images:hover {
  border-color: blue;
  width: 420px;
}

.spacer {
  margin: 10px auto;
}

.separator {
  padding: 2px;
  max-width: 600px;
  background: #22313f;
}

.navItem {
  text-align: center;
  padding: .5em;
  margin: 0;
  box-sizing: border-box;
  width: 8em;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #22313f;
}

.currentPageNav {
  background-color: #f9a828;
}

video::-webkit-media-controls-volume-slider {
  display: none;
}

video::-webkit-media-controls-mute-button {
  display: none;
}
