* {
  text-align: center;
  font-family: Helvetica, sans-serif;
}

header {
  text-align: center;
}

body {
  background: cadetblue;
}

h3 {
  padding: 1%;
}

p {
  font-family: cursive, sans-serif;
}

h3, p {
  text-align: center;
  margin: auto;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.images {
  width: 400px;
  border-radius: 25px;
  border: solid 5px black;
  box-sizing: border-box;
}

.images:hover {
  border-color: blue;
  width: 420px;
}

.flex-item {
  width: 420px;
  padding: 0 0 20px 0;
}